@charset 'utf-8';

@import '../mixin';

#footer {
  @include hw100;
  &-wrapper {
    @include hw100;
    background-color: palettes('black', light);
    height: 10rem; // 仮
    padding: 1rem;
    &__inner {
      @include hw100;
      border: solid 0.2rem palettes('gray', light);
      border-radius: 0.5rem;
    }
  }
}
