@charset 'utf-8';

@import 'colors';
@import 'values';

* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

#footer {
  background: palettes(gray);
  color: palettes(white);
  padding: 1rem;
  #footer__navigation {
    border: solid $border-width palettes(white);
    border-radius: $border-radius;
    display: grid;
    grid-template-areas: '. ............... . ........... .'
                         '. footer-category . footer-link .'
                         '. ............... . ........... .';
    grid-template-columns: 1fr 10rem 1rem 10rem 1fr;
    grid-template-rows: 1rem 1fr 1rem;
    #footer__column--category {
      grid-area: footer-category;
    }
    #footer__column--link {
      grid-area: footer-link;
    }
    .footer__column {
      .footer__title {
        border-bottom: solid $border-width palettes(white);
        display: block;
        margin-bottom: 1rem;
        text-align: center;
      }
      .footer__list {
        list-style: none;
        .footer__item {
          margin: 1rem 0;
          padding: 0 1rem;
          &:hover {
            background: palettes(white);
            color: palettes(black);
          }
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        .footer__link {
          color: inherit;
          display: block;
          text-decoration: none;
        }
      }
    }
  }
  #footer__copyright {
    display: block;
    margin: 1rem;
    text-align: center;
  }
}
