@charset 'utf-8';

@import 'colors';
@import 'values';

#main-content {
  margin: 1rem auto;
  @include width-adjuster;
  .content__section-title--news {
    margin: 1rem 0;
  }
  .article-section__list {
    display: grid;
    gap: 1rem;
    @include media-query (sp) {
      grid-template-columns: auto;
    }
    @include media-query (tab) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-query (pc) {
      grid-template-columns: repeat(3, 1fr);
    }
    margin: 1rem 0;
    .article-section__link {
      @include invisible-anchor;
      display: block;
      .article-section__item {
        border-radius: 1rem;
        box-shadow: inset 0 0 $border-width $border-width palettes(gray);
        flex-direction: column;
        overflow: hidden;
        padding: 1rem;
        .article-section__title {
          @include ellipsis-text(1);
          margin-bottom: 1rem;
        }
        .article-section__description {
          @include ellipsis-text(3);
          word-break: break-word;
        }
        &:hover {
          .article-section__title,
          .article-section__description {
          @include ellipsis-text;
          }
        }
      }
      &:last-child {
        align-self: stretch;
        .article-section__item {
          @include flex-center;
          height: 100%;
          .article-section__title {
            margin: 0;
          }
        }
      }
    }
  }
}
