#header #header__title {
  background: rgb(127, 127, 127);
  height: 5rem;
}
#header #search-form {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 4rem;
  margin: 1rem;
}
#header #search-form #search-form__input {
  border: solid 0.1rem rgb(127, 127, 127);
  border-radius: 0.5rem;
  font: inherit;
  padding: 0.5rem;
}
#header #search-form #search-form__button {
  background: rgb(127, 127, 127);
  border: 0;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font: inherit;
  padding: 0.5rem;
}

.breadcrumbs .breadcrumbs__list {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  overflow-x: scroll;
  white-space: nowrap;
}
.breadcrumbs .breadcrumbs__list::-webkit-scrollbar {
  height: 1rem;
}
.breadcrumbs .breadcrumbs__list::-webkit-scrollbar-thumb {
  background: rgb(191, 191, 191);
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.1rem 0.1rem rgb(127, 127, 127);
}
.breadcrumbs .breadcrumbs__list::-webkit-scrollbar-track {
  background: rgb(63, 63, 63);
  border-radius: 0.5rem;
}
.breadcrumbs .breadcrumbs__list .breadcrumbs__item a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}
.breadcrumbs .breadcrumbs__list .breadcrumbs__item + .breadcrumbs__item::before {
  content: ">";
  display: inline-block;
  margin: 0 0.5rem;
}

#main-content {
  margin: 1rem;
}
#main-content .content__section-title--news {
  margin: 1rem 0;
}
#main-content .article-section__list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem 0;
}
#main-content .article-section__list .article-section__link {
  color: inherit;
  display: block;
  text-decoration: none;
}
#main-content .article-section__list .article-section__link .article-section__item {
  border-radius: 1rem;
  box-shadow: inset 0 0 0.1rem 0.1rem rgb(127, 127, 127);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem;
}
#main-content .article-section__list .article-section__link .article-section__item .article-section__title, #main-content .article-section__list .article-section__link .article-section__item .article-section__description {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
#main-content .article-section__list .article-section__link .article-section__item .article-section__title {
  -webkit-line-clamp: 1;
  line-clamp: 1;
  margin-bottom: 1rem;
}
#main-content .article-section__list .article-section__link .article-section__item .article-section__description {
  -webkit-line-clamp: 3;
  line-clamp: 3;
  word-break: break-word;
}
#main-content .article-section__list .article-section__link .article-section__item:hover .article-section__title,
#main-content .article-section__list .article-section__link .article-section__item:hover .article-section__description {
  -webkit-box-orient: unset;
  display: block;
  line-clamp: unset;
}
#main-content .article-section__list .article-section__link:last-child {
  align-self: stretch;
}
#main-content .article-section__list .article-section__link:last-child .article-section__item {
  align-items: center;
  height: 100%;
  justify-content: center;
}
#main-content .article-section__list .article-section__link:last-child .article-section__item .article-section__title {
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

#footer {
  background: rgb(127, 127, 127);
  color: rgb(255, 255, 255);
  padding: 1rem;
}
#footer #footer__navigation {
  border: solid 0.1rem rgb(255, 255, 255);
  border-radius: 0.5rem;
  display: grid;
  grid-template-areas: ". ............... . ........... ." ". footer-category . footer-link ." ". ............... . ........... .";
  grid-template-columns: 1fr 10rem 1rem 10rem 1fr;
  grid-template-rows: 1rem 1fr 1rem;
}
#footer #footer__navigation #footer__column--category {
  grid-area: footer-category;
}
#footer #footer__navigation #footer__column--link {
  grid-area: footer-link;
}
#footer #footer__navigation .footer__column .footer__title {
  border-bottom: solid 0.1rem rgb(255, 255, 255);
  display: block;
  margin-bottom: 1rem;
  text-align: center;
}
#footer #footer__navigation .footer__column .footer__list {
  list-style: none;
}
#footer #footer__navigation .footer__column .footer__list .footer__item {
  margin: 1rem 0;
  padding: 0 1rem;
}
#footer #footer__navigation .footer__column .footer__list .footer__item:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
#footer #footer__navigation .footer__column .footer__list .footer__item:first-child {
  margin-top: 0;
}
#footer #footer__navigation .footer__column .footer__list .footer__item:last-child {
  margin-bottom: 0;
}
#footer #footer__navigation .footer__column .footer__list .footer__link {
  color: inherit;
  display: block;
  text-decoration: none;
}
#footer #footer__copyright {
  display: block;
  margin: 1rem;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

html {
  color: rgb(63, 63, 63);
  font-size: 20px;
}

body {
  margin: 0 auto;
  max-width: 40rem;
  width: 100%;
}

#breadcrumbs {
  margin: 1rem;
}

#aside-left {
  display: none;
}

#aside-right {
  display: none;
}/*# sourceMappingURL=style.css.map */