@charset 'utf-8';

$border-radius: 0.5rem;
$border-width: 0.1rem;

$breakpoints: (
  sp: 'screen and (max-width: 599px)',
  tab: 'screen and (min-width: 600px) and (max-width: 1023px)',
  pc: 'screen and (min-width: 1024px)'
);

@mixin ellipsis-text ($lines: reset) {
  @if ($lines == reset) {
    -webkit-box-orient: revert;
    -webkit-line-clamp: revert;
    display: revert;
    line-clamp: revert;
    overflow: revert;
    text-overflow: revert;
  }
  @else {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    display: -webkit-box;
    line-clamp: $lines;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@mixin flex-center () {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin invisible-anchor () {
  color: inherit;
  text-decoration: none;
}

@mixin media-query ($device) {
  @media #{map-get($breakpoints, $device)} {
    @content;
  }
}

// 1個下のレベルのピクセル値を設定しておく
@mixin width-adjuster () {
  @include media-query (sp) {
    max-width: auto;
  }
  @include media-query (tab) {
    max-width: 600px;
  }
  @include media-query (pc) {
    max-width: 1024px;
  }
}
